table {
    border-collapse: collapse;
    border: none;
  }

td, th {
border: none;
}

.table-wrapper {
    box-shadow: none;
}

#fade {
  display: none;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}

#light {
  display: none;
  position: absolute;
  top: 30%;
  left: 50%;
  max-width: 600px;
  max-height: 700px;
  margin-left: -300px;
  margin-top: -180px;
  border: 10px solid #000;
  background: #000;
  z-index: 1002;
  overflow: visible;
}

#fade:hover ~ #boxclose {
  display:none;
}

.test:hover ~ .test2 {
  display: none;
}